
<div class="row">
  <form class="col s12" action="/addtrade" method="post">
    <div class="row">
      <div class="input-field col s12">
        <input name="product_name" id="product_name" type="text">
        <label for="product_name">Brand and Product Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input name="description" id="description" type="text">
        <label for="description">Product Description</label>
      </div>
    </div>

  <div class="row">
    <div class="input-field col s12">
      <select id="condition">
        <option value="" disabled selected>Choose your option</option>
        <option value="Good">Good</option>
        <option value="Average">Average</option>
        <option value="Poor">Poor</option>
      </select>
      <input name="condition_part" id="condition_part" type="hidden">
      <label>Condition of Part</label>
    </div>
  </div>

    <input type="submit" value="Submit">
  </form>
</div>

<script>
  $('#condition').on('change', function() {
    $('#condition_part').val($('#condition').val());
  });
</script>