
<nav>
<div class="nav-wrapper black">
  <a href="#" class="brand-logo center">CEST - Cutting Edge Scooter</a>
  <ul id="nav-mobile" class="left hide-on-med-and-down">
  </ul>
</div>
</nav>
    

<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Description</th>
      <th>Condition</th>
      <th colspan="5"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.product_name %></td>
        <td><%= trade.description %></td>
        <td><%= trade.condition_part %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 